table {
  border-collapse: collapse;
  margin-top: 1rem;
}
h1 {
  place-self: center;
}
th,
td {
  padding: 1rem;
  border: 1px solid lightgray;
  text-align: left;
}

input {
  min-width: 50%;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.footer {
  display: flex;
  gap: 1rem;
  margin-top: 20px;
  justify-content: center;
}
button {
  padding: 0.5rem;
}
select {
  min-width: 10%;
}

tr {
  cursor: pointer;
}
tr:hover {
  background-color: #ddd;
}
.container {
  max-width: 100%;
  margin-top: 1rem;
  place-self: center;
}
